 <div class="gray-bg-container mb-0 jumbotron-wrap">
    <div class="container">
        <div class="jumbotron px-0">
           <h2><%= t ".branch" %></h2>
           <p class="lead"><%= t ".bazon" %></p>
       </div>
   </div>
</div>
<!-- Footer -->
<footer class="footer">
    <div class="footer-lists">
        <div class="container">
            <div class="row">
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <p class="text-center"><%= t ".framgia" %></p>
        <p class="text-center">
            <%= link_to t(".back-top"), "#" %>
        </p>
    </div>
</footer>
